<body>
  <h1 class="animar-esquerda positionh1">sobre mim</h1>
    <h2></h2>
      <P class="animar-esquerda">Meu nome é Italo Rickelmy e sou um apaixonado por tecnologia. Tive meu primeiro contato com programação
        em si, em meados de 2018 quando pesquisei no youtube como jogos eram feitos, e apartir daí entendi
        como que jogos e apps tanto web's quanto mobile funcionavam, apesar de ter gostado da área e ter tido
        vontade de saber mais, só busquei e decidir mergulhar nos estudos em 2021, quando investir passei a pesquisar sobre desenvolvimento web.
      <br>
      <br>
        Hoje já entendo teconologias voltadas a Front-end. também gosto de "brincar" usando tais ferramentas para exercitar meus aprendizados e também criar novas 
        técnicas, templates e criar novas páginas de teste de projetos pessoais meus usando a criatividade de diferentes formas em cada um deles. 
      </P>
</body>